body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}

address {
  margin-left: auto;
  font-style: normal;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ------ header------ */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.flex-container {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 76px;
}

.nav-list {
  display: flex;
}

.logo-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-link-span {
  color: #2e2f42;
}

.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.link-nav:hover,
.link-nav:active,
.link-nav:focus {
  color: #404bbf;
}

.link-address {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.link-address:hover,
.link-address:active,
.link-address:focus {
  color: #404bbf;
}

.nav-list,
address ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*----- main----- */

/* flex-direction: column; /* Элементы друг под другом */
/* align-items: center;    /* Центрируем по горизонтали */
/* text-align: center;     /* Центрируем текст внутри h1 */
.hero-background {
  background-color: #2e2f42;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-text {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  /* Чтобы текст переносился как в макете */
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  min-width: 169px;
  height: 56px;
  /* Дополнительная страховка центрирования */
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ----our-features----- */
/* задаем внешние отступы сверху и снизу */
.our-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ---- our-features--- */
.visually-hidden {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.111;
  color: #2e2f42;
}

.our-features-description {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

/*Элемент списка: рассчитываем ширину, чтобы их влезло ровно 4 */
/*(100% - (количество зазоров * размер зазора)) / количество элементов */
.our-features-description li {
  width: calc((100% - 3 * 24px) / 4);
}

/*Текст параграфа */
.our-features-description p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* Заголовок внутри карточки */
/* Небольшой отступ от заголовка до текста */
.our-features-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.our-team {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-our-team {
  background-color: #f4f4fd;
}

.team-card-backgrounds {
  background-color: #fff;
}

.team {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.department {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-portfolio {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

/* ----- footer------ */

.footer-background-color {
  background-color: #2e2f42;
}

.logo-link-span-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
